<header>
    <div class="flex justify-between items-center m-4">
        <div>
            <ul class="flex gap-4">
                <li><a href="/">Inicio</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/ubicacion">Ubicacion</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
        <div>
            <h1 class="text-2xl font-bold">Jardín de eventos SKY</h1>
        </div>
    </div>
</header>
